@charset "utf-8";

body{
  margin:0;
  padding:0;
  font-family: 'Homemade Apple', cursive , "游教科書体","YuKyokasho";
}



.icondezain{
  position:fixed;
  width:100%;
  height:100%;
  background:url('grayslair10.jpg');
  background-size:contain;
  animation:efectOut 4s;
  animation-fill-mode:forwards;
  text-align:center;
}

.icondezain img{
  animation:efectIn 5s;
}

@media(min-width:0) and (max-width:600px) {
  .icondezain img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
}


.header{
  position:fixed;
  width:100%;
  height:200px;
  margin:0;
  padding:0;
  z-index:1;
}


.icon{
  position:absolute;
  left:20px;
  object-fit:cover;
  width:200px;
  height:100px;
  background:url('grayslair10.jpg');
  margin-top:10px;
  margin-bottom:10px;
  border-radius:20px;
  transform-origin:center;
  transition: width .3s , height .3s;
  user-select:none;
}


.icon:hover{
  /* background:rgb(88, 22, 22); */
  width:220px;
  height:120px;
}

@media(min-width:0px) and (max-width:500px){
  .icon{
    margin-top:20px;
    width:180px;
    height:80px;
    transition:width .3s, height .3s;
  }

  .icon:hover{
    width:190px;
    height:90px;
  }
}

.menu{
  height:70px;
  background:rgb(61, 17, 17);
  font-size:20px;
  display:flex;
  flex-direction:row-reverse;
  color:gray;
  padding-left:30%;
  padding-top:50px;
  user-select:none;
}

.iconmenu{
  opacity:0;
  transform:translateY(-800px);
  transition:transform 1s, opacity 1s;
}

.iconmenu.show{
  opacity:1;
  z-index:100;
  transform:translateY(0);
}

#iconmenu{
  font-size:60px;
  color:rgba(114, 114, 114, 0.61);
  position:absolute;
  right:40px;
  top:32px;
  user-select:none;
  display:none;
}

#iconmenu.close{
  display:none;
}

#iconmenuu{
  font-size:60px;
  color:rgba(114, 114, 114, 0.61);
  position:absolute;
  right:40px;
  top:32px;
  display:none;
  user-select:none;
}

@media(min-width:0px) and (max-width:400px){
  #iconmenu{
    position:absolute;
    right:10px;
    top:10px;
  }
  #iconmenuu{
    position:absolute;
    right:10px;
    top:10px;
  }
}

#iconmenuu.show{
  display:block;
}



.iconmenu ul{
  display:none;
  z-index:-1000;
  height:100%;
  background:rgba(0, 0, 0, 0.918);
  font-size:40px;
  text-align:center;
  list-style:none;
  line-height:2em;
  cursor:pointer;
  
}

.iconmenu ul.show{
  display:block;
}

.iconmenu li{
  color:gray;
  user-select:none;
  transition:color .3s;
}

.iconmenu li:hover{
  color:rgb(175, 175, 175);
}
@media(min-width:0px) and (max-width:950px){
  .menu div{
    display:none;
  }
  #iconmenu{
    display:block;
    cursor:pointer;
  }
}

.menuadd{
  height:100px;
  background:linear-gradient(rgb(61,17,17),rgba(0,0,0,0));
}

.menu div{
  padding-right:60px;
  transition:font-size .3s;
}

.menu div:hover{
  color:rgb(185, 185, 185);
  font-size:22px;
}

.toppic{
  background:url('grayslair3.PNG');
  width:100%;
  height:100%;
  position:fixed;
  object-fit:cover;
  z-index:-100;
  /* background-color:black; */
}

.topmenu{
  display:flex;
  width:90%;
  height:600px;
  padding-top:200px;
  margin-bottom:200px;
  padding-left:100px;
}

.mainpic{
  width:50%;
  height:100%;
  margin:0;
  padding:0;
}

.mainpic img{
  width:100%;
  object-fit:cover;
  height:100%;
  border-radius:4%;
  box-shadow:5px 5px 5px rgba(56, 0, 0, 0.507);
  animation:leftSlideIn 2s 2.5s;
}

.info{
  /* margin-top:200px; */
  width:50%;
  color:gray;
  padding-left:5%;
}

.info p{
  font-size:40px;
  animation:rightSlideIn 2s 2.5s;
}

.info ul{
  list-style:none;
  /* border-left:2px solid gray; */
  background:rgba(0, 0, 0, 0.144);
  /* animation:fadeIn 2s 4s; */
  position:relative;
}

.info ul::after{
  height:100%;
  width:2px;
  background:gray;
  position:absolute;
  left:0;
  top:0;
  content:'';
}

.info li{
  line-height:3em;
  font-size:20px;
}



@media(min-width:0px) and (max-width:400px){
  .topmenu{
    display:block;
    height:650px;
    padding-left: 0;
    margin:0 auto;
  }
  
  .mainpic{
    width:100%;
    height:300px;
  }

  .mainpic img{
    height:300px;
  }
  .info{
    width:100%;
  }

  .info li{
    font-size:10px;
  }
}

@media(min-width:400px) and (max-width:700px){
  .topmenu{
    display:block;
    height:700px;
    padding-left: 0;
    margin:0 auto;
  }
  
  .mainpic{
    width:90%;
    height:300px;
  }

  .mainpic img{
    height:300px;
  }
  .info{
    width:100%;
  }

  .info li{
    font-size:15px;
  }
}

@media(min-width:700px) and (max-width:800px){
  .topmenu{
    display:block;
    height:800px;
    margin:0 auto;
    padding-left: 0;
  }
  
  .mainpic{
    width:90%;
    height:300px;
  }

  .mainpic img{
    height:300px;
  }
  .info{
    width:100%;
  }
}

@media(min-width:800px) and (max-width:1300px){
  .topmenu{
    display:block;
    height:900px;
    margin:0 auto;
    padding-left: 0;
  }
  
  .mainpic{
    width:100%;
    height:400px;
  }

  .mainpic{
    width:100%;
  }

  .info{
    width:80%;
  }
}


.li01{animation:fadeIn 3s 2.2s}
.li02{animation:fadeIn 3s 2.4s}
.li03{animation:fadeIn 3s 2.6s}

.info li::before{
  content:">  ";
  color:gray;
}

.consept{
  background:rgba(0, 0, 0, 0.541);
  color:rgb(151, 151, 151);
  text-align:center;
  font-size:30px;
  line-height:2.3em;
  opacity:0;
  transition:opacity 2s , transform 2s;
  transform:translateY(100px);
  margin-top:0;
  padding-top:100px;
  padding-bottom:100px;
  margin-bottom:0px;
}



@media(min-width:0px) and (max-width:400px){
  .consept{
    font-size:10px;
    line-height: 3.5em;
  }
}

@media(min-width:400px) and (max-width:600px){
  .consept{
    font-size:13px;
    line-height: 3em;
  }
}

@media(min-width:600px) and (max-width:700px){
  .consept{
    font-size:16px;
    line-height: 3em;
  }
}
@media(min-width:700px) and (max-width:800px){
  .consept{
    font-size:18px;
  }
}


@media(min-width:800px) and (max-width:1000px){
  .consept{
    font-size:20px;
  }
}
@media(min-width:1000px) and (max-width:1300px){
  .consept{
    font-size:25px;
  }
}

.consept.appear{
  opacity:1;
  transform:translateY(0);
}
.newtopic{
  text-align:center;
  /* z-index:-1; */
  position:relative;
}

.blank{
  padding-top:200px;
}

.newtopic h2{
  color:rgb(177, 177, 177);
  font-size:30px;
  position:absolute;
  left:43%;
  top:120px;
  animation:bound 1s infinite;
}

@media(min-width:0px) and (max-width:700px){
  .newtopic h2{
    position:absolute;
    left:36%;
    top:120px;
  }
}

.solid{
  width:100%;
  height:1px;
  background-color:gray;
  margin-bottom:50px;
}

.new{
  margin:0px auto;
  width:80%;
  height:500px;
  /* border:2px solid red; */
  position:relative;
  overflow:hidden;
  opacity:0;
  transform:translateY(50px);
  transition:transform 1s, opacity 2s;
  border-radius:20px;
}

@media(min-width:0px) and (max-width:700px){
  .new{
    width:90%;
    height:300px;
  }
}
@media(min-width:700px) and (max-width:1200px){
  .new{
    width:90%;
    height:400px;
  }
}

.new.appear{
  opacity:1;
  transform:translateY(0);
}

.new > ul{
  list-style: none;
  margin:0;
  padding:0;
  display:flex;
  width:100%;
  height:100%;
  transition:transform 1s;
}


.new img{
  width:100%;
  height:100%;
  object-fit:cover;
  cursor:pointer;
  user-select:none;
}

.new li{
  height:100%;
  min-width:100%;
}

#next,
#prev{
  list-style:none;
  color:gray;
  font-size:30px;
  background:url('grayslair10.jpg');
  width:50px;
  height:50px;
  border-radius:50%;
  transition:width .2s, height .2s;
  cursor:pointer;
  user-select:none;
}

#next:hover,
#prev:hover{
  width:60px;
  height:60px;
}

#next{
  position:absolute;
  top:250px;
  right:0;
}

#prev{
  position:absolute;
  top:250px;
  left:0px;
}

@media(min-width:0) and (max-width:700px){
  #next,
  #prev{
    font-size:20px;
    width:30px;
    height:30px;
  }

  #next:hover,
  #prev:hover{
    width:40px;
    height:40px;
  }
  #next{
    position:absolute;
    top:130px;
    right:0;
  }
  #prev{
    position:absolute;
    top:130px;
    left:0px;
  }
}
@media(min-width:700px) and (max-width:1200px){
  #next,
  #prev{
    font-size:23px;
    width:40px;
    height:40px;
  }

  #next:hover,
  #prev:hover{
    width:50px;
    height:50px;
  }
  #next{
    position:absolute;
    top:190px;
    right:0;
  }
  #prev{
    position:absolute;
    top:190px;
    left:0px;
  }
}



.all{
  text-align:center;
  width:100%;
  margin-top:100px;
  margin-bottom:100px
}

.all p{
  color:gray;
  font-size:30px;
  border-bottom:2px solid rgb(94, 92, 92);
}

.allchildren{
  display:flex;
  width:80%;
  margin:0 auto;
  opacity:0;
  transform:translateY(100px);
  transition:transform 4s , opacity 2s;
}

.allchildren.appear{
  opacity:1;
  transform:translateY(0);
}


.allchildren div{
  width:100%;
}


.light{
  animation: swing 5s infinite;
}

.all div img{
  border-radius:10px;
  width:70%;
}

.all div > h3{
  color:rgb(153, 153, 153);
  font-size:20px;
}

@media(min-width:0px) and (max-width:500px){
  .all div > h3{
    font-size:15px;
  }
}

.newtopic .backcarten{
  background:black;
}

footer{
  height:200px;
  width:100%;
  background:url("grayslair10.jpg")
}

footer ul{
  list-style:none;
  padding:50px 100px;
}

footer li{
  color:rgb(94, 94, 94);
  font-size:20px;
}

@media(min-width:0px) and (max-width:500px){
  footer{
    height:150px;
  }

  footer ul{
    padding:30px 100px;
  }

  footer li{
    font-size:15px;
  }
}

@keyframes swing{
  0%{
    animation-timing-function:ease-in-out;
    transform-origin:top center;
    transform:rotate(-10deg);
  }
  50%{
    animation-timing-function:ease-in-out;
    transform-origin:top center;
    transform:rotate(10deg);
  }
  100%{
    animation-timing-function:ease-in-out;
    transform-origin:top center;
    transform:rotate(-10deg);
  }
}



@keyframes rightSlideIn{
  0%{
    opacity:0;
    transform:translateX(100px);
  }
  100%{
    opacity:1;
    transform:translateX(0);
  }
}
@keyframes leftSlideIn{
  0%{
    opacity:0;
    transform:translateX(-100px);
  }
  100%{
    opacity:1;
    transform:translateX(0);
  }
}

@keyframes bound{
  0%{
    transform:none;
  }
  100%{
    font-size:32px;
  }
}

@keyframes fadeOut{
  0%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}


@keyframes efectOut{
  0%{
    /* transform-origin: center; */
    transform:scale(1);
    opacity:1;
    z-index:100;
  }
  50%{
    /* transform-origin: center; */
    transform:scale(1);
    opacity:1;
    transform-origin:right;
    z-index:100;
  }
  60%{
    transform-origin: center;
    transform:scale(1);
    opacity:1;
  }
  80%{
    /* transform-origin: center; */
    transform:scale(2);
    z-index:100;
    /* transform-origin: right; */
  }
  95%{
    transform-origin: center;
    opacity:0;
    z-index:-10000;
    transform:scale(2);
    /* transform-origin: right; */
    transform:translate(0);
  }
  100%{
    transform:scale(1);
    opacity:0;
    transform:translateY(-1000px);
    display:none;
  }
}

@keyframes fadeIn {
  0%{
    opacity:0;
    transform:translateY(30px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

@keyframes efectIn {
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
  
}

@keyframes fade{
  0%{
    opacity:0;
    transform:translateY(100px);
  }
  95%{
    opacity:0;
    transform:translateY(50px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}